/** 
 * @Desc: Light(colured) area with types of different selection fields; buttons, tag-search adropdowns, etc.
 * @Occures: 0 or more, can be hidden or shown, even multiple at once.
 * @Behavior: Static layout with flex-warp for small content area, constrained to its current content area.
 * @Media: None
 */
.selectionarea {

	background-color: var(--light);
	border-radius: var(--br);
	filter: var(--shadow);
	padding: 20px;
	font-size: 14px;
	max-width: calc(100% - 40px);
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	z-index: +5;
	position: relative;

	> div { width: 80%; }

	textarea {

		min-height: 90px;
		font-size: 10pt;
		resize: none;
		color: var(--bright);
		font-family: Montserrat;

	}

	input[type=text], textarea {
		
		height: 30px;
		border: none;
		padding: 5px 10px;
		border-radius: 20px;
		background-color: var(--accent);
		width: calc(100% - 20px);
		color: var(--bright);
		
	}

	.field {
		
		&:first-of-type p { margin-top: 0; }
		
		p { margin-block: 15px 3px; }

		input[type=button] {
			
			height: 30px;
			width: 80px;
			border: none;
			border-radius: 20px;
			background-color: var(--joyfull);
			color: hsl(0, 0%, 100%);

			&.danger { background-color: hsl(0, 100%, 32%); }

		}
		
		&.button {
			
			width: calc(100% - 40px);
			display: inline-grid;
			grid-template-columns: auto 80px;
			margin-block: 15px 0;
			height: 60px;
			
			&.vertical {
	
				display: flex;
				width: auto;
				height: calc(30px + 22.5px * 2);
				flex-direction: column;
				margin: 0 auto;

				input[type=button] {

					margin: 10px auto;
					width: auto;
					padding: 5px 10px;

				}
	
			}

			span {

				display: flex;
				align-self: center;

			}

		}
		
	}

	.search {

		width: min-content;

		.bar {
			
			width: 300px;
			height: 40px;
			display: inline-flex;

			background-color: var(--faded);
			border-radius: calc(40px/2)/50%;
			border: 0;
			margin: 10px auto;
			align-items: center;

			input {

				background-color: transparent;
				border: 0;
				padding: 10px;
				display: inline-block;
				width: calc(100% - 60px);
				
				&:focus,
				&:focus-visible { outline: none; }
				&.open ~ div { display: flex; }
			
			}

			> label {
				
				display: inline-block;
				width: 35px;
				height: 35px;
				//filter: contrast(50%) opacity(.75);
				
			}
			
			&.dropdown input {

				~ label { transition: .3s; background-image: url("../../assets/Arrow.svg"); }
				&.open ~ div ~ label { transform: rotate(180deg); }

			}

			&:not(.dropdown) label { background-image: url("../../assets/Lup.svg"); }
				
		}

	}

	.list {

		display: flex;
		flex-wrap: wrap;
		transition: height 1s;
		height: calc(100% - 70px);
		gap: 5px;

		.tag {

			display: flex;
			flex-flow: row;
			width: auto;
			max-width: max-content;
			height: 2em;
			border-radius: var(--br);
			justify-content: center;
			align-items: center;
			background-color: var(--bgcolor);
			filter: var(--shadow);
			color: var(--gray);
			
			p {
				
				text-align: center;
				color: inherit;
				margin: 0 5px 0 10px;
				height: 1.2em;
				cursor: copy;
				user-select: none;
				-moz-user-select: none;
				-webkit-user-select: none;
				-ms-user-select: none;

				&.exclude { text-decoration: line-through wavy red 2px; }

			}

			span {
				
				margin-right: 5px;

				&.removal {

					background-image: url("../../assets/Cross.svg");
					width: 1.2em;
					height: 1.2em;
					display: block;
					transition: transform .5s, filter .5s;

					&:hover {

						transform: scale(1.5);
						filter: invert(1) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);

					}

				}
			}

		}

		&.dropdown {

			position: absolute;
			background-color: var(--bright);
			border-radius: var(--br);
			z-index: +10;
			filter: var(--shadow);
			display: none;
			top: 110px;
			width: inherit;
			height: auto;

			div {

				width: 100%;
				padding: 5px;
				padding-left: 20px;

				&:hover { background-color: var(--faded); }
				&:first-child { margin-top: 10px; }
				&:last-child { margin-bottom: 10px; }

			}

		}

	}

	.weekdays.selection {

		margin: auto;
		
		p { margin: 0; }
		
		.week {
			
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			height: 65px;
			align-items: top;
			justify-items: center;
			overflow-x: auto;
			scrollbar-width: none;
			padding-top: 20px;
			margin-top: 0;
			
			.day {

				margin: 3px;
				transition: .5s filter, .4s transform;
				
				&.unavailable {
					
					border: 1px solid var(--faded);
					color: var(--faded);
					background-color: transparent;
					
				}
				
				&.available {
					
					border: 2px solid var(--joyfull);
					color: var(--joyfull);
					background-color: transparent;
					filter: var(--shadow);

					&:hover { transform: scale(1.2); }

				}

				&.selected {

					background-color: var(--joyfull);
					color: var(--bright);

					&:hover { transform: scale(.9); }
					&:not(:hover) { filter: var(--shadow); }

				}

			}

			&:not(.dropdowns) {

				.day {

					border-radius: 50%;
					width: 50px;
					height: 50px;
					text-align: center;
					font-size: 16px;
					line-height: 3.1em;

				}

			}

			&.dropdowns {

				width: auto;
				margin-top: 10px;
				padding: 0 10px;

				.day {

					text-align: center;
					color: var(--joyfull);
					
					&.unavailable {
						
						color: var(--faded);
						border: 0;
						
					}
					
					.dropdownbox {
						
						filter: var(--shadow);
						border-radius: var(--br);
						border: 0;
						background-color: var(--joyfull);
						color: var(--bright);
						text-align: center;
						width: 55px;
						height: 30px;
						padding-left: calc(50% - 0.5em);
						letter-spacing: 20px;

						&:disabled {

							color: var(--faded);
							background-color: var(--faded);

						}

						&:not(:disabled):hover {

							background-color: var(--bright);
							color: var(--gray);

						}

						option { width: 75px; }

					}

				}

			}

		}

	}

	.quantity {
    
    display: grid;
    height: 30px;
    border-radius: var(--br);
    background-color: var(--faded);
    align-items: center;
		filter: var(--shadow);
		color: var(--accent);
		font-weight: 600;
		
		&.time {
			
			grid-template-columns: 1fr 1fr;
			justify-items: center;
			width: 100px;

			p { margin: auto; }
			
		}
		
		&.amount {
			
			width: max-content;
			grid-template-columns: min-content auto min-content;
			
			p {
				
				text-align: center;
				margin: 0;
				padding-inline: 10px;
				color: var(--joyfull);
				
				
				&:first-child,
				&:last-child { 
					
					width: 35px;
					font-weight: 800;
					font-size: 35px;
					line-height: 10px;
					position: relative;
					margin: 0 5px;
					padding: 0;
					
				}
				
				&:first-child { top: -2px; }
				&:nth-child(2) { border-inline: 1px solid var(--accent); }
				span { margin-right: 5px; }
				
			}
			
		}

		&.ingredient {

			width: calc(100% - 90px);
			height: 30px;
			grid-template-columns: auto 80px 100px;
			display: inline-grid;
			margin-inline: 0 10px;

			input, select {

				display: inline;
				height: 18px;
				padding: 0;
				background-color: transparent;
				border: 0;
				color: var(--joyfull);
				font-weight: 800;
				border-radius: 0;
				text-align: center;
				
				&:nth-child(1) {
				
					width: calc(100% - 10px);
					margin-left: 10px;

				}
				
				&:nth-child(2) { border-inline: 2px solid var(--bright); }

				// Remove spinner
				&::-webkit-outer-spin-button, &::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; } /* Chrome, Safari, Edge, Opera */
				&[type=number] { -moz-appearance: textfield;} /* Firefox */

			}

		}
		
	}
  
  .listing {
    
    display: flex;
    flex-direction: column;
		filter: var(--shadow);
		height: max-content;

		&.drag {
			
			height: max-content!important;
		
			p {

				grid-gap: 10px;

			}

		}
    
    .item {
      
      width: 100%;
      height: fit-content;
      border-radius: var(--br);
      background-color: var(--joyfull);
      color: var(--bright);
      display: inline-grid;
      grid-template-columns: 30px auto minmax(35px, min-content);
      align-items: center;
      margin: 4px auto;

			&.drag {

				grid-template-columns: 30px auto 100px 35px;
				
				p:nth-child(3) {

					width: 70px;
					text-align: center;
					border-inline: 2px solid var(--bright);
					padding-inline: 10px;

				}

			}
      
			> :not(.cross):last-child {

				border-left: 1px solid var(--bright);

				span {padding: 3px;}
				span:first-child { padding-left: 15px; }
				
			}
			
			p { justify-self: baseline; }
			
			> * {
				
				margin: 5px;
				pointer-events: none; // Prevents drag event to target children
				
			}
			
			.icon {
				
				background-position: center;
				background-position-x: right;
				margin-right: 5px;
				background-repeat: no-repeat;
				height: 100%;
				display: block;
				filter: var(--shadow) invert(1);
				
				&.cross { background-image: url("../../assets/Cross.svg"); }
				&.drag { background-image: url("../../assets/Dragdots.svg"); }
			
			}
      
    }
    
  }

	.guide {

		.step {

			width: 100%;
			height: fit-content;
			background-color: var(--joyfull);
			border-radius: var(--br);
			color: var(--bright);
			margin: 10px 0;
			filter: var(--shadow);
			display: flex;

			.mark { margin: .7em; }

			p {

				margin: auto 0;
				padding: .7em 0;
				padding-right: 10px;
				flex: 1 1;

			}

		}

	}

	label.cc {

		position: relative;

		&:hover .mark { background-color: var(--bright); }

		input[type=checkbox] {

			width: 35px;
			height: 20px;
			margin: auto;
			visibility: hidden;

			&:checked {
				
				
				& ~ .mark {
					
					background-color: var(--bright);
					
					&::after { display: block; }
					& ~ p,
					& ~ span {
					
						text-decoration: line-through; 
						text-decoration-style: wavy;
						text-decoration-color: red;
						text-decoration-thickness: 2px;
						text-decoration-skip: none ;

					}

				}

			}

		}

		.mark {

			position: absolute;
			top: 0;
			left: 0;
			height: 1.2em;
			width: 1.2em;
			background-color: var(--faded);
			border-radius: 50%;

			&:after {
				content: "";
				position: absolute;
				display: none;
				left: .3em;
				top: 1px;
				width: 5px;
				height: 10px;
				border: solid var(--joyfull);
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg) scale(.8);
			}

		}

	}

}
