@import 'tokens';

.center {
	// center vertically and horizontally
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;

	// background-color: $global-color-teal;

	> * {
		margin: 0 1rem;
	}
}
