@import 'tokens';

.center {
	// center vertically and horizontally
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px 0;

	.title {
		font-family: 'montserrat', sans-serif;
		color: #474c59;
	}

	// background-color: $global-color-teal;

	> * {
		margin: 1rem 1rem;
	}
}
