#createrecipe {

  .selectionarea {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: max-content;

    .button {
  
      align-self: center;
      background-color: var(--joyfull);
      color: var(--bright);
      padding: 5px;
      border-radius: var(--br);
      width: 130px;
      text-align: center;
      filter: var(--shadow);
  
    }
    
    > div:nth-of-type(2) {

      display: inline-grid;
      grid-template-columns: auto 60px;
      grid-auto-rows: inherit;
      grid-gap: 5px;

      > p,
      > div {
        
        grid-column: span 2;
        height: 100%
      
      }

      .button {
        
        display: inline-block;
        grid-column: span 1;
        width: auto;
        height: 30px;
        padding: 5px;
        border-radius: 20px;
        line-height: 2em;

      }

    }

    > div:nth-of-type(3) {

      grid-row: 1 / 3;
      grid-column-start: -2;
      align-self: center;

    }

    &.details {

      row-gap: 20px;

      .search { margin: 20px auto 0 auto; }

      .quantities {

        margin-top: 20px;
        display: inline-grid;
        justify-items: center;
        grid-template-columns: 2fr 3fr;
        margin-inline: 20px;
        width: calc(100% - 40px);

      } 

      > div:last-child {
        
        .button { margin: 10px auto; }

        div:not(.button) {

          filter: var(--shadow);
          border-radius: var(--br);
          background-color: var(--faded);
          margin: 0 40px;
          width: auto;
          aspect-ratio: 1/1;
          
          .image {
            
            min-width: 200px;
            margin: auto;
            display: block;
            aspect-ratio: 1/1;
            background-image: url("../../assets/Duck.svg");
            background-repeat: no-repeat;
            background-position: center;
            filter: invert(1) var(--shadow);
            background-color: transparent;
            
          }
          
        }
        
      }

    }

    &.guide {
      
      .button {
        
        display: inline-block;
        width: 60px;
        height: 30px;
        padding: 0 10px;
        border-radius: 20px;
        line-height: 2em;

      }

    }

  }

}