<h1>Authentication</h1>
<!-- button -->
<div class="container">
  <mt-button
    (click)="signUp('testMail@gmail.com', 'Password123+')"
    value="Sign Up"
  ></mt-button>
  <mt-button
    (click)="signIn('testMail@gmail.com', 'Password123+')"
    value="Sign In"
  ></mt-button>
  <mt-button
    (click)="onGooglePressed()"
    value="Sign in with google"
  ></mt-button>
  <mt-button (click)="onApplePressed()" value="Sign in with apple"></mt-button>
  <mt-button
    (click)="onGithubPressed()"
    value="Sign in with GitHub"
  ></mt-button>
  <mt-button (click)="signOut()" value="Sign Out"></mt-button>
  <mt-button (click)="userLoggedIn()" value="Is user signed in?"></mt-button>
</div>

<h2>Is the user signed in?: {{ isLoggedIn }}</h2>
