<div class="container">
	<img src="assets/icons/logo.svg" alt="logo" />
	<h1 class="title">MealTime</h1>
	<mt-field
		[validation]="{ required: true, typeCheck: true }"
		[label]="'Email'"
		[placeholder]="'Enter your email'"
		[helperText]="'We will never share your email with anyone else.'"
		[type]="'email'"
	></mt-field>
	<mt-field
		[validation]="{ required: true, minLength: 8 }"
		[label]="'Password'"
		[placeholder]="'Enter your password'"
		[helperText]="'Sample text'"
		[type]="'password'"
	></mt-field>
	<!-- button -->
	<div class="inline">
		<mt-button
			(clicked)="signUp('testMail@gmail.com', 'Password123+')"
			value="Sign Up"
			variant="secondary"
		></mt-button>
		<mt-button
			(clicked)="signIn('testMail@gmail.com', 'Password123+')"
			value="Sign In"
			variant="primary"
		></mt-button>
	</div>
	<div class="inline">
		<mt-button
			(clicked)="onGooglePressed()"
			value="google"
			iconPath="assets/icons/google.svg"
			variant="secondary"
			bgColor="#DB4437"
			color="#fff"
		>
		</mt-button>
		<mt-button
			(clicked)="onGithubPressed()"
			value="GitHub"
			iconPath="assets/icons/github.svg"
			bgColor="#333"
			color="#fff"
			variant="link"
		></mt-button>
	</div>
	<div class="inline">
		<mt-button
			(clicked)="onApplePressed()"
			value="apple"
			bgColor="#000"
			color="#fff"
			iconPath="assets/icons/apple.svg"
		></mt-button>
		<mt-button
			(clicked)="onApplePressed()"
			[disabled]="true"
			value="facebook"
			bgColor="#3b5998"
			color="#fff"
			iconPath="assets/icons/facebook.svg"
		></mt-button>
	</div>
	<mt-button (clicked)="goToLanding()" value="Back"></mt-button>
</div>
