<div class="container">
	<mt-field
		[formControl]="emailFormControl"
		[label]="'Email'"
		[placeholder]="'Enter your email'"
		[helperText]="'We will never share your email with anyone else.'"
		[type]="'email'"
	></mt-field>
	<mt-field
		[formControl]="passwordFormControl"
		[label]="'Password'"
		[placeholder]="'Enter your password'"
		[helperText]="'Sample text'"
		[type]="'password'"
	></mt-field>
	<!-- button -->
	<mt-button
		(clicked)="signUp('testMail@gmail.com', 'Password123+')"
		value="Sign Up"
		variant="primary"
	></mt-button>
	<mt-button
		(clicked)="signIn('testMail@gmail.com', 'Password123+')"
		value="Sign In"
		variant="secondary"
	></mt-button>
	<mt-button
		(clicked)="onGooglePressed()"
		value="Sign in with google"
		variant="tertiary"
	></mt-button>
	<mt-button
		(clicked)="onGithubPressed()"
		value="Sign in with GitHub"
		variant="link"
	></mt-button>
	<mt-button
		(clicked)="onApplePressed()"
		[disabled]="true"
		value="Sign in with apple"
	></mt-button>
	<mt-button (clicked)="goToLanding()" value="Back"></mt-button>
</div>
