@tailwind base;
@tailwind components;
@tailwind utilities;
/* https://www.realtimecolors.com/?colors=000000-ffffff-3abb70-464d59-afdfbf&fonts=Poppins-Poppins */
@layer base {
	:root {
		--text-50: 0 0% 95%;
		--text-100: 0 0% 90%;
		--text-200: 0 0% 80%;
		--text-300: 0 0% 70%;
		--text-400: 0 0% 60%;
		--text-500: 0 0% 50%;
		--text-600: 0 0% 40%;
		--text-700: 0 0% 30%;
		--text-800: 0 0% 20%;
		--text-900: 0 0% 10%;
		--text-950: 0 0% 5%;

		--background-50: 0 0% 95%;
		--background-100: 0 0% 90%;
		--background-200: 0 0% 80%;
		--background-300: 0 0% 70%;
		--background-400: 0 0% 60%;
		--background-500: 0 0% 50%;
		--background-600: 0 0% 40%;
		--background-700: 0 0% 30%;
		--background-800: 0 0% 20%;
		--background-900: 0 0% 10%;
		--background-950: 0 0% 5%;

		--primary-50: 146 54% 95%;
		--primary-100: 144 53% 90%;
		--primary-200: 144 53% 80%;
		--primary-300: 145 53% 70%;
		--primary-400: 145 53% 60%;
		--primary-500: 145 53% 50%;
		--primary-600: 145 53% 40%;
		--primary-700: 145 53% 30%;
		--primary-800: 144 53% 20%;
		--primary-900: 144 53% 10%;
		--primary-950: 146 54% 5%;

		--secondary-50: 220 12% 95%;
		--secondary-100: 214 14% 90%;
		--secondary-200: 220 12% 80%;
		--secondary-300: 218 12% 70%;
		--secondary-400: 218 12% 60%;
		--secondary-500: 219 12% 50%;
		--secondary-600: 218 12% 40%;
		--secondary-700: 218 12% 30%;
		--secondary-800: 220 12% 20%;
		--secondary-900: 214 14% 10%;
		--secondary-950: 220 12% 5%;

		--accent-50: 136 44% 95%;
		--accent-100: 140 41% 90%;
		--accent-200: 140 43% 80%;
		--accent-300: 140 42% 70%;
		--accent-400: 140 43% 60%;
		--accent-500: 140 43% 50%;
		--accent-600: 140 43% 40%;
		--accent-700: 140 42% 30%;
		--accent-800: 140 43% 20%;
		--accent-900: 140 41% 10%;
		--accent-950: 142 44% 5%;
	}
	.dark {
		--text-50: 0 0% 5%; /* swapped with 95% */
		--text-100: 0 0% 10%; /* swapped with 90% */
		--text-200: 0 0% 20%; /* swapped with 80% */
		--text-300: 0 0% 30%; /* swapped with 70% */
		--text-400: 0 0% 40%; /* swapped with 60% */
		--text-500: 0 0% 50%;
		--text-600: 0 0% 60%; /* swapped with 40% */
		--text-700: 0 0% 70%; /* swapped with 30% */
		--text-800: 0 0% 80%; /* swapped with 20% */
		--text-900: 0 0% 90%; /* swapped with 10% */
		--text-950: 0 0% 95%; /* swapped with 5% */

		--background-50: 0 0% 5%; /* swapped with 95% */
		--background-100: 0 0% 10%; /* swapped with 90% */
		--background-200: 0 0% 20%; /* swapped with 80% */
		--background-300: 0 0% 30%; /* swapped with 70% */
		--background-400: 0 0% 40%; /* swapped with 60% */
		--background-500: 0 0% 50%;
		--background-600: 0 0% 60%; /* swapped with 40% */
		--background-700: 0 0% 70%; /* swapped with 30% */
		--background-800: 0 0% 80%; /* swapped with 20% */
		--background-900: 0 0% 90%; /* swapped with 10% */
		--background-950: 0 0% 95%; /* swapped with 5% */

		--primary-50: 146 54% 5%; /* swapped with 95% */
		--primary-100: 144 53% 10%; /* swapped with 90% */
		--primary-200: 144 53% 20%; /* swapped with 80% */
		--primary-300: 145 53% 30%; /* swapped with 70% */
		--primary-400: 145 53% 40%; /* swapped with 60% */
		--primary-500: 145 53% 50%;
		--primary-600: 145 53% 60%; /* swapped with 40% */
		--primary-700: 145 53% 70%; /* swapped with 30% */
		--primary-800: 144 53% 80%; /* swapped with 20% */
		--primary-900: 144 53% 90%; /* swapped with 10% */
		--primary-950: 146 54% 95%; /* swapped with 5% */

		--secondary-50: 220 12% 5%; /* swapped with 95% */
		--secondary-100: 214 14% 10%; /* swapped with 90% */
		--secondary-200: 220 12% 20%; /* swapped with 80% */
		--secondary-300: 218 12% 30%; /* swapped with 70% */
		--secondary-400: 218 12% 40%; /* swapped with 60% */
		--secondary-500: 219 12% 50%;
		--secondary-600: 218 12% 60%; /* swapped with 40% */
		--secondary-700: 218 12% 70%; /* swapped with 30% */
		--secondary-800: 220 12% 80%; /* swapped with 20% */
		--secondary-900: 214 14% 90%; /* swapped with 10% */
		--secondary-950: 220 12% 95%; /* swapped with 5% */

		--accent-50: 136 44% 5%; /* swapped with 95% */
		--accent-100: 140 41% 10%; /* swapped with 90% */
		--accent-200: 140 43% 20%; /* swapped with 80% */
		--accent-300: 140 42% 30%; /* swapped with 70% */
		--accent-400: 140 43% 40%; /* swapped with 60% */
		--accent-500: 140 43% 50%;
		--accent-600: 140 43% 60%; /* swapped with 40% */
		--accent-700: 140 42% 70%; /* swapped with 30% */
		--accent-800: 140 43% 80%; /* swapped with 20% */
		--accent-900: 140 41% 90%; /* swapped with 10% */
		--accent-950: 142 44% 95%; /* swapped with 5% */
	}
}

@layer base {
	:root {
		--radius: 0.5rem;
	}
}

.scrollbar-w-2::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.25rem;
}

.scrollbar-track-primary-lighter::-webkit-scrollbar-track {
	--bg-opacity: 0.5;
	background-color: #00000015;
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
	--bg-opacity: 0.5;
	background-color: #13131374;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
	border-radius: 7px;
}
