# Global codeowners
* @BHelpful/Mealplanr

# Owns model files containing the mongoose noSQL schemas (also the documents file with reusable schemas)
*.model.ts @BHelpful/noSQL
documents.ts @BHelpful/noSQL

# Owns the file for routing as well as containing the swagger api documentation
/api/scr/routes @BHelpful/Swagger-api-documentation

# Owns all in the api folder
/api/scr/ @BHelpful/RESTful-API


