/** 
 * @Desc: Square or rectangular boxes that contains information about recipes - supports images
 * @Occures: 0 to many times on {Plan-meals}, {Browse recipes} and {My collection}
 * @Behavior: Constant width and height, text-overflow is hidden but can be revielded but scrolling
 * @Media: None
 */
.recipes,
.plans {

	/* Clauses that should not apply to [Recipe]'s in [Mealplan] */
	&:not(.plans) {

		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		grid-auto-rows: 270px;
		grid-gap: 40px;

		.empty {

			border: 3px dashed var(--gray);
			border-radius: var(--br);

			// Recipies that has not loaded correctly
			&:not(:first-child) {

				background-color: red;

				&::after {

					content: "Error loading recipe";
					color: white;
					margin-top: 100px;

				}

				* {

					display: none;

				}

			}
			
		}
		
	}
	
	.empty {
		
		display: inline-grid;
		grid-template-rows: repeat(2, 1fr);
		justify-items: center;
		width: 250px;
		height: 270px;
		justify-self: center;
		align-self: center;
		text-align: center;
		transition: 0.3s box-shadow, 0.3s padding;
		
		h3 {
			
			margin: 0;
			font-size: 16px;
			font-weight: 400;
			align-self: end;
			transition: 0.3s font-size;
			user-select: none;
			
		}
		
		p {
			
			margin: -10px;
			font-size: 60px;
			font-weight: 700;
			user-select: none;
			
		}

	}

	.recipe {

		border-color: inherit;
		border-radius: var(--br);
		filter: var(--shadow);
		color: var(--bright);

		&.wide,
		&.tall {

			&.empty {


				&:hover {

					box-shadow: inset 1000px 1000px 4px rgba(0, 0, 0, 0.25);
					padding: 10px;

					h3 { font-size: 18px; }

				}

			}

			&:not(.empty) {

				background-image: none;
				display: grid;

				.rimage {

					overflow: hidden;
					position: relative;
					display: flex;
					justify-content: center;

					.options {

						position: absolute;
						top: 5px;
						right: 5px;
						background-image: url("../../assets/Cog.svg");
						display: block;
						width: 20px;
						height: 20px;
						z-index: +1;

					}

					&.shadow::before {
							
						content: "";
						box-shadow: inset 0 -55px 20px rgba(0, 0, 0, 0.4);
						position: absolute;
						top: 0; bottom: 0; left: 0; right: 0;
						z-index: +1;
						
					}

					&.shadow .options,
					&:not(.shadow) > * { filter: invert(1); }
					
				}

			}

		}

		&.wide {

			height: 270px;
			width: 250px;

			justify-self: center;
			align-self: center;

			
			&:not(.empty) {

				grid-template-rows: 160px auto min-content;
				grid-template-columns: auto auto 1.2em;

				.rimage {

					width: 100%;
					height: auto;
					border-radius: var(--br);
					grid-column: span 3;

					img {
						
						height: 100%;
						border-radius: var(--br);
						position: relative;

					}

				}

				h3 {

					margin: 5px;
					font-size: 16px;
					position: absolute;
					top: calc(160px - 2em);
					z-index: +1;

				}

				p {

					margin: 5px;
					margin-top: 5px;
					font-size: 14px;
					overflow-x: scroll;
					scrollbar-width: none;
					grid-column: span 3;

				}

				.timebox,
				.ratingbox,
				div:last-child {

					width: 100%;
					align-items: center;
					font-size: 14px;
					height: 28px;
					overflow: clip;
					display: flex;
					
					.icon {
						
						height: 1em;
						width: 1em;
						display: inline-block;
						scale: 2;
						margin: 6px;
						
						&.time {
							
							background-image: url("../../assets/Clock.svg");
							filter: invert(1);
							
						}
						
						&.rating {
							
							content: "";
							background-image: url("../../assets/Hearth.svg");
							background-repeat: no-repeat;
							filter: invert(1);
							background-position: left center;
							height: 2em;
							background-size: 2em 2em;
							display: block;
							margin: 0;
							justify-content: center;
							scale: 1;

						}

					}

				}

			}

		}

		&.tall {

			height: 350px;
			width: 130px;

			justify-self: center;
			align-self: center;
			background-image: url("../../assets/boubbles.jpg");
			background-position: center;
			background-size: 500%;

			&:not(.empty) {

				grid-template-rows: 130px 5px auto 40px;
				grid-template-columns: 100%;
				grid-auto-flow: column;

				.rimage {

					width: 130px;
					height: 130px;
					aspect-ratio: 1/1;
					border-radius: var(--br);
					grid-column: span 2;

					img {
						
						height: 100%;
						border-radius: var(--br);
						position: relative;

					}

					&:not(.shadow) img { top: -5px; }

				}

				h3 {

					position: relative;
					top: -2em;
					margin: 5px;
					z-index: +1;
					font-size: 16px;

				}

				p {

					margin: 5px;
					margin-top: 0;
					font-size: 14px;
					overflow-y: scroll;
					scrollbar-width: none;

				}

				.time {

					background-color: var(--bright);
					color: var(--gray);
					height: 20px;
					width: auto;
					border-radius: var(--br);
					text-align: center;
					font-weight: 700;
					padding: 10px;

				}

			}
			
		}

	}

}
