/** 
 * @Desc: Subject to change
 * @Occures: 0 to once on any page
 * @Behavior: Subject to change
 * @Media: None
 */
.popup {

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000b;
  z-index: 110;
  color: var(--bright);
  
  #userpopup {
    
    position: fixed;
    background-color: var(--joyfull);
    border-radius: var(--br);
    padding: 20px;
    height: 270px;
    width: 500px;
    filter: var(--shadow);
    bottom: 20px;

    &.close { left: 120px; }
    &.far { left: 390px; }

    &::after {

      content: "";
      background-color: inherit;
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      transform: rotate(45deg);
      bottom: 33px;
      left: -20px;

    }

    input {

      border-radius: var(--br);
      border: 0 solid;
      height: 20px;
      width: 250px;
      display: block;
      margin: auto;
      padding: 5px 10px;

    }

    div {

      width: max-content;
      display: block;
      margin: 15px auto;
      padding: 10px;
      color: var(--dark);
      border-radius: var(--br);
      background-color: var(--faded);
      
      &:hover { background-color: var(--bright); }

    }

  }

}