/** 
 * @Desc: White box with content for the current page 
 * @Occures: 1 or more times on one each sub-page
 * @Behavior: Fills the width of available content-space, adjust height to its own content
 * @Media(vw <= 1590px): Will widen its content-area on thinner windows
 */
.container {

	margin: 80px;
	padding: 20px;
	max-width: 1300px;
	width: calc(100% - 160px);
	height: max-content;
	background-color: var(--bright);
	border-color: inherit;
	border-radius: var(--br);
	filter: var(--shadow);

	> h1 {

		margin: 0;
		margin-right: 5px;
		align-self: center;
		white-space: nowrap;
		text-overflow: clip;
		overflow: hidden;

	}

	> .button {

		margin-inline: auto 0;
		align-self: center;
		background-color: var(--accent);
		color: var(--bright);
		padding: 5px;
		border-radius: 10px;
		width: 130px;
		text-align: center;
		filter: var(--shadow);
		transition: 0.5s filter, 0.1s margin;

		&:hover {

			filter: none;
			margin-top: 5px;

		}

	}
	
	&#mealplan,
	&#showcase,
	&#createrecipe,
	&#settings {
		
		display: grid;
		grid-template-columns: minmax(100px, 100%) minmax(130px, 160px);
		grid-template-rows: 60px auto;
		
		.selectionarea {
			
			grid-column: span 2;
			
			& ~ .selectionarea { margin-top: 20px; }

		}
		
	}
	
	&#showcase { grid-template-columns: minmax(200px, 1000px) minmax(100px, 500px); }

}

@media (max-width: 1590px) {
	
	.container {
		
		margin: 80px calc(100% - 100% + 80px);
		width: calc(100% - 160px);

	}

}